---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/CardPost.astro';
const pageTitle   = "Lily";
const allPosts    = await getCollection("posts");
const latestPosts = allPosts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()).slice(0, 2);
---
<Layout pageTitle={pageTitle}>
    <div class="centered">
        <div class="gif">
            <img width="300" height="300" alt="RaccoonSpaceGif" src="public/logo.png"/>
        </div>
        <h1>Lily Valley</h1>
        <span class="badge">By Nerea Casssian</span>
        <h2>Sobre este sitio</h2>
        <p>
            Esta es una simple web donde publicar la historias cortas que voy escribiendo.
            Muchas (o todas) son NFSW, así que ten cuidado con dónde lees esta web.
            Espero que disfrutéis las historias y no dudéis en dejarme vuestro feedback, todos mis links están abajo &lt3.
        </p>
        <div class="center">
            <a target="_blank" href="https://nereacassian.com/socials">
                <button class="btn">Mis Links</button>
            </a>
        </div>
        <h2>Últimas historias</h2>
        <ul role="list" class="link-card-grid">
            {
                latestPosts.map((cardPost) => (
                    <Card
                        url={`/posts/${cardPost.slug}/`}
                        title={cardPost.data.title}
                        date={cardPost.data.date}
                        extract={cardPost.data.extract}
                    />
                ))
            }
        </ul>
    </div>
</Layout>