---
import BaseLayout from "./Layout.astro";
const { frontmatter }   = Astro.props;
const pageTitle         = `Lily Valley | ${frontmatter.title}`;
const pageDesc          = frontmatter.extract;
const pageImage         = !frontmatter.image ? "https://lily-valley.nereacassian.com/logo.png" : frontmatter.image;
const pageType          = "article";
---

<BaseLayout pageTitle={pageTitle} pageDesc={pageDesc} pageImage={pageImage} pageType={pageType}>
    <div class="centered-title">
        <div class="gif">
            <img width="300" height="259" alt="RaccoonNotesGif" src="/blog.webp" />
        </div>
        <h2 style="text-decoration:none;">{frontmatter.title}</h2>
        <ul class="badge__list">
            <li>
                <span class="badge badge--item">PUBLICADO EL</span>{frontmatter.date}
            </li>
        </ul>
    </div>
    <div>
        <slot />
    </div>
</BaseLayout>
